# =========
# GITCONFIG
# =========

# Configuration for Git.
# Link to ~/.gitconfig

# User Configuration
[user]
	name 			= Shresht Srivastav
	username 		= Shresht7
	email 			= 59516096+Shresht7@users.noreply.github.com

# Set VS Code as the default editor
[core]
	editor 			= code --wait

# Set main as the default branch
[init]
	defaultBranch 	= main

[color]
	ui 				= auto	# Seems to be the default anyway

[fetch]
	prune 			= true	# Automatically prune outdate branches

[alias]
	# Shows a decorated log
	slog 			= log --all --oneline --decorate --graph
	flog 			= log --all --oneline --decorate --graph --date=relative --boundary --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s - %Cblue[%cn] %Cgreen%ad %Creset'
	# Removes files from the staging area
	unstage 		= reset HEAD --
	# Amends the previous commit message
	amend 			= commit --amend
	# Shows details of the last commit
	last 			= log -1 HEAD --stat
	# Resets the last commit
	undo 			= reset HEAD~1
	# Returns an unformatted list of branches
	list-branch		= branch --format="%(refname:short)"
	# Burn it to the ground - Hard reset
	burn			= reset --hard								

# Set bat as the default diff tool
[pager]
	diff 			= bat

# Set VS Code as the default merge tool
[merge]
	tool 			= vscode
[mergetool "vscode"]
	cmd 			= code --wait $MERGED

# Set VS Code as the default diff tool
[diff]
	tool 			= vscode
[difftool "vscode"]
	cmd 			= code --wait --diff $LOCAL $REMOTE
